---
const currentYear = new Date().getFullYear();
---

<footer class="relative z-20 w-full py-8 border-t border-neutral-200 dark:border-neutral-800 bg-white dark:bg-neutral-950">
  <div class="max-w-3xl mx-auto px-7 lg:px-0 flex justify-center items-center">
    <p class="text-xs font-bold uppercase tracking-widest text-neutral-400 dark:text-neutral-600">
      © {currentYear} MNR Fonts
    </p>
  </div>
</footer>
